<section class="grid grid-cols-1 bg-transparent">
  <div class="flex justify-end space-x-2">
    <aside class="flex">
      <p-togglebutton
        [(ngModel)]="versionFFX"
        onLabel="FFX"
        offLabel="FFX"
        size="small"
        styleClass="min-w-20"
        [class.pointer-events-none]="versionFFX()"
        (onChange)="versionFFXChange($event)"
      />
      <p-togglebutton
        [(ngModel)]="versionFFX2"
        onLabel="FFX-2"
        offLabel="FFX-2"
        size="small"
        styleClass="min-w-20"
        [class.pointer-events-none]="versionFFX2()"
        (onChange)="versionFFX2Change($event)"
      />
    </aside>

    <app-config-modal />
  </div>
  <ffx-tree />
</section>
