<div class="bg-transparent">
  <section class="flex absolute top-2 right-4 space-x-4">
    <div class="flex space-x-2">
      <p-togglebutton
        [(ngModel)]="versionFFX"
        onLabel="FFX"
        offLabel="FFX"
        size="small"
        styleClass="min-w-20"
        [class.pointer-events-none]="versionFFX()"
        (onChange)="versionFFXChange($event)"
      />
      <p-togglebutton
        [(ngModel)]="versionFFX2"
        onLabel="FFX-2"
        offLabel="FFX-2"
        size="small"
        styleClass="min-w-20"
        [class.pointer-events-none]="versionFFX2()"
        (onChange)="versionFFX2Change($event)"
      />
    </div>

    <app-config-modal />
  </section>
  <ffx-tree />
</div>
