<p-button icon="pi pi-cog" (onClick)="showConfigModal()" />
<p-dialog
  header="Configurações"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '80%', height: '100%' }"
>
  <div class="flex flex-col gap-2 items-center">
    @for (input of inputs; track input.label) {
    <div class="flex w-full h-full gap-2 items-center first:mt-2">
      <p-floatlabel variant="on" class="w-full overflow-visible">
        <input
          pInputText
          id="{{ input.label }}"
          class="w-full p-1"
          value="{{ input.value() }}"
          fluid
        />
        <label
          for="{{ input.label }}"
          class="font-semibold w-[8rem] overflow-hidden"
          >{{ input.label }}</label
        >
      </p-floatlabel>
      <p-button
        id="{{ input.eventName }}"
        type="button"
        icon="pi pi-folder"
        (click)="selectDirectory(input.eventName, input.dialogTitle)"
      ></p-button>
    </div>
    }

    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="showConfigModal()"
      />
      <p-button label="Save" (onClick)="saveWorkingDirectories()" />
    </div>
  </div>
</p-dialog>
